@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all.sass";


/* Color definitions */
$cyan: #34caf8;
$cyan-bright: #98e7ff;
$white-d: #cccccc;
$dark-2: #232629;
$dark-3: #31363b;
$dark-4: #444851;
$dark-5: #565b69;
$dark-6: #616877;
$dark-9: #93a0ad;


/* Sass variable overrides */
$navbar-breakpoint: 0;
$body-background-color: $dark-3;

$table-color: $white-d;
$table-background-color: $dark-3;
$table-cell-padding: 0.5em 0.3em;

// $menu-item-hover-background-color: $dark-4;
$menu-item-radius: 0px;

$input-radius: 0px;
$input-imod-active-color: $white-d;
$input-imod-color: $white-d;

@import "../node_modules/bulma/bulma.sass";


/* Global font setup */
@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    src: url('../webfonts/ShareTech-Regular.ttf') format('truetype');
}

html {
    overflow-y: auto !important;
}

body {
    // -ms-overflow-style: scrollbar;
    // -webkit-app-region: drag;
    font-family: 'Share Tech', 'sans-serif';
    font-size: 18px;
    width: 950px !important;
    height: 700px !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

table.root-table {
    width: 950px;
    height: 700px;
    table-layout: fixed;
    margin: 0px !important;
}

a.is-disabled {
    pointer-events: none;
}

label.checkbox {
    font-size: 15px !important;
}

.medium-size-label label.checkbox{
    font-size: 18px !important;
}

/* Color helpers */
.is-dark-2 {
    color: $dark-2;
}
.is-dark-3 {
    color: $dark-3;
}
.is-cyan {
    color: $cyan !important;
}
.is-white-d {
    color: $white-d !important;
}
.has-background-dark-2 {
    background-color: $dark-2;
}
.has-background-dark-3 {
    background-color: $dark-3;
}


/* Color override for paragraphs, spans and labels */
// p { color: $white-d !important; }
// span { color: $white-d !important; }
label { color: $white-d !important; }


/* Global scrollbar definition and overflow helpers */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #777; 
}




/* Draggable element definition */
.frame-title-bar {
    -webkit-app-region: drag !important;
}
#left_menu_panel {
    -webkit-app-region: drag !important;
}
button, a, input {
    -webkit-app-region: no-drag !important;
}


/* Window minimize and maximize buttons */
a.minimize-button { 
    padding-left: 5px;
    padding-right: 5px;
}
a.minimize-button:hover {
    background-color: $dark-6;
    // color: #363636; 
}
a.exit-button {
    padding-left: 5px;
    padding-right: 5px;
}
a.exit-button:hover {
    background-color: $danger;
    // color: #363636;
}


/* Selected menu box */
.menu-item { border: 2px solid $dark-2; }
.menu-item a { padding: 0.3em 0em; }
.menu-item:hover { border: 2px solid $dark-4; }
.menu-item.is-selected { border: 2px solid $cyan; }
.menu-item.is-selected p, .menu-item.is-selected i { color: $cyan !important; }


.crt-menu-subtab {
    border-right: 2px solid $dark-6 !important;
}
.mod-menu-subtab {
    border-right: 2px solid $dark-6 !important;
}

/* Menu-item on Modify UI */
.subtab-menu-item { border: 2px solid $dark-3; }
.subtab-menu-item a { padding: 0.3em 0em; }
.subtab-menu-item a.is-disabled i { color: $dark-6 !important; }
.subtab-menu-item a.is-disabled p { color: $dark-6 !important; }
.subtab-menu-item a:active { border-color: $dark-5 !important; }
/* Overrides */
.menu-list a:hover { background-color: $dark-4 !important; }
.menu-list a:active { background-color: $dark-5 !important; border-color: $dark-5 !important; }
.subtab-menu-item.is-selected p, .subtab-menu-item.is-selected i { color: $cyan !important; }

/* Left menu div directly under the left td that encloses the entire menu bar, and makes it scrollable */
div.left-menu {
    height: 640px;
    overflow: auto;
}
div.left-menu::-webkit-scrollbar { width: 0px; }


div.crt-left-menu {
    // height:244px;
    overflow: auto;
}
div.crt-left-menu::-webkit-scrollbar { width: 0px; }

div.mod-left-menu {
    height: 277px;
    overflow: auto;
}
div.mod-left-menu::-webkit-scrollbar { width: 0px; }



/* Borderless table helper css */
.table.is-borderless td, th {
    border: 0
}

/* Borderless input for transparent BG and no border at all */
input.input.is-border-colorless {
    background-color: $dark-3;
    color: $white-d;
    box-shadow: none;
    border: 2px solid $dark-3;
}

.is-left-paddingless { padding-left: 0 !important;}
.is-bottom-paddingless { padding-bottom: 0 !important;}
.is-bottomleft-paddingless { padding-bottom: 0 !important; padding-left: 0 !important; }

/* Checkerboard background image */
.has-checkerboard-bg {
    background-image: url("../imgs/Transparency500.png");
}


/* Horizontal and vertical paddingless */
.is-hpaddingless {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.is-vpaddingless {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.is-toppaddingless {
    padding-top: 0px !important;
}

.is-right-padding-only {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}


.silver-bordered {
    border: 2px solid $white-d !important;
}
.silver-bordered-no-right {
    border: 2px solid $white-d !important;
    border-width: 2px 0px 2px 2px;
}
.silver-bordered-left-thicc {
    border: 2px solid $white-d !important;
    border-left: 5px solid $white-d !important;
}

/* Image sequences scrollable grid-like table in Create panel */
.sequence-grid tbody {
    height:320px;
    // border: 2px solid rebeccapurple !important;
    border-collapse: collapse;
    overflow: auto;
    display: block;
}
.sequence-grid tr{
    display: block;
    // border: 2px solid rebeccapurple !important;
    // border-collapse: collapse;
}
.sequence-grid td {
    border: 2px solid $white-d !important;
    border-collapse: collapse;
    padding: 3px !important;
    width: 98px;
    height: 98px;
}
.seqdiv {
    position: relative;
}
.seqdiv img {
    max-width: 90px;
    max-height: 90px;
}
.index-anchor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}
.del-anchor {
    position: absolute;
    top: 0;
    right: 0;
}
.del-icon {
    opacity: 0.3;
    color: $danger;
}
.del-icon:hover {
    opacity: 1.0;
}


/* Animated image (GIF/PNG) preview container in Create Panel */
.crt-aimg-container {
    width: 310px;
    height: 310px;
    overflow: hidden;
    // text-align: center;
    display: block;
}
.crt-aimg-container img {
    max-width: 310px !important;
    max-height: 310px !important;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // display: inline-block;
}


.crt-aimg-control-container {
    padding-right: 7px;
    height: 248px;
}



.prev-spritesheet-container {
    width: 310px;
    height: 310px;
    overflow: hidden;
    // text-align: center;
    display: block;
}
.prev-spritesheet-container img {
    max-width: 310px !important;
    max-height: 310px !important;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // display: inline-block;
}



.spl-aimg-info-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.spl-aimg-info-table tbody {
    border-collapse: collapse;
    overflow: auto;
    display: block;
}
.spl-aimg-info-table tbody::-webkit-scrollbar {
    height: 7px;
}
.spl-aimg-info-table tr { display: block; }
.spl-aimg-info-table td {
    padding: 3px !important;
    padding-left: 10px !important;
}
.spl-aimg-info-table td.spl-info-label { width: 140px; }
.spl-aimg-info-table td.spl-info-data { max-width: 300px; }



.mod-orig-info-container {
    width: 288px;
    height: 275px;
    overflow: auto;
    margin: 0 !important;
}
.mod-orig-info-container::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}
// .mod-orig-info-table tbody {
//     border-collapse: collapse;
//     overflow-x: auto;
//     display: block;
// }
// .mod-orig-info-table tbody::-webkit-scrollbar {

// }
.mod-orig-info-table td {
    padding: 3px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
}
// .mod-orig-info-table tr { display: block; }
.mod-orig-info-table td.mod-info-label { max-width: 120px; min-width: 120px; }
// .mod-orig-info-table td.mod-info-data { max-width: 600px; }

.mod-aimg-container {
    width: 289px;
    height: 250px;
    overflow: hidden;
    display: block;
}
.mod-aimg-container img {
    max-height: 289px !important;
    max-width: 250px !important;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mod-aimg-control-container {
    width: 528px;
    height: 277px;
    padding-right: 7px;
}


.ins-info-table table {
    table-layout: fixed !important;
}
.ins-info-table tr, .ins-info-table td {
    border-bottom: 2px solid $white-d !important;
    border-right: 2px solid $white-d !important;
}
.ins-info-table td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    word-wrap: break-word !important;
}
.ins-info-table table, .ins-info-table tr, .ins-info-table td {
    border-collapse: collapse !important;
}





.mod-new-control-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 0px !important;
}
.mod-new-control-table label.label {
    margin-bottom: 2px;
}

table.crt-control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.crt-control-table label{
    margin: 0px !important;
}

table.control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.control-table label{
    margin: 0px !important;
}


table.spr-control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.spr-control-table label{
    margin: 0px !important;
}


/* Animated image (GIF/PNG) previewing elements in Split panel */
.spl-aimg-container {
    height: 370px;
    width: 370px;
    overflow: hidden;
    display: block;
}
.spl-aimg-container img {
    max-height: 310px !important;
    max-width: 310px !important;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ins-img-container {
    height: 320px;
    width: 320px;
    overflow: hidden;
    display: block;
}
.ins-img-container img {
    max-height: 320px !important;
    max-width: 320px !important;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.aimg-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.force-center {
    text-align: center !important; 
    vertical-align: middle !important;
}
.force-hcenter { text-align: center !important; }
.force-vcenter { vertical-align: middle !important; }


.spritesheet-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


td.slicegrid-cell {
    width: 525px;
    height: 500px !important; 
    max-height: 500px !important;
}
div.slicegrid-container {
    display:inline-block;
    width: 521px !important;
    height: 490px;
    margin: 0 auto;
    padding: 0px !important;
    // background: $dark-9; 
    position:relative; 
}
div.slicegrid-container img{
    position:absolute;
    z-index:1;
    max-width: 521px !important;
    max-height: 490px !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // transform: translateY(-50%);
}
td.sliceinfo-cell table {
    width: 297px !important;
}
table.slicecontrol-cell {
    width: 297px !important;
}

canvas.slicegrid-canvas {
    // max-width: 370px;
    // max-height: 370px;
    position:relative;
    // left: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index:20;
}

/* Neon-cyan buttons. $cyan outlines with $dark-3 BG to match the global $dark-3 BG color */
.button.is-neon-cyan{
    background-color: $dark-3;
    color: $cyan;
    border: 2px solid $cyan;
}
.button.is-neon-cyan:hover, .button.is-neon-cyan.is-hovered{
    border-color: lighten($cyan, 20%);
    color: lighten($cyan, 20%);
}
.button.is-neon-cyan:active, .button.is-neon-cyan.is-active {
    background-color: $cyan;
    border-color: $cyan;
    color: $dark-3;
}

/* Neon-white buttons. */
.button.is-neon-white{
    background-color: $dark-3;
    color: $white-d;
    border: 2px solid $white-d;
}
.button.is-neon-white:hover, .button.is-neon-white.is-hovered{
    border-color: lighten($white-d, 20%);
    color: lighten($white-d, 20%);
}
.button.is-neon-white:active, .button.is-neon-white.is-active {
    background-color: $white-d;
    border-color: $white-d;
    color: $dark-3;
}




/* Neon-white inputs. */
.input.is-neon-white{
    background-color: $dark-3;
    color: $white-d;
    box-shadow: none;
    border: 2px solid $white-d;
}
.input.is-neon-white:hover{
    border-color: lighten($white-d, 10%);
}
.input.is-neon-white:focus{
    border: 2px solid $white;
}
.input.is-neon-white:disabled{
    border-color: darken($white-d, 40%);
    color: darken($white-d, 40%);
}
.input.is-neon-white::placeholder{
    color: $dark-6;
}

.select.is-neon-cyan select {
    color: $white-d;
    background-color: $dark-3;
    border: 2px solid $white-d !important;
}

.select.is-neon-cyan select:disabled{
    border: 2px solid darken($white-d, 40%) !important;
    color: darken($white-d, 40%) !important;
}

.select-is-neon-cyan:hover select {
    border: 2px solid lighten($cyan, 10%) !important;
}

.select.is-neon-cyan option:hover {
    box-shadow: 0 0 10px 100px $cyan-bright inset !important;
}

// For selection arrow recolor
.select.is-neon-cyan:not(.is-multiple):not(.is-loading)::after {
    border-color: $cyan;
}


div.about-content h1 { color: $white-d; }
div.about-content p { color: $white-d; }

