@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all.sass";


/* Color definitions */
$cyan: #34caf8;
$cyan-bright: #98e7ff;
$white-d: #cccccc;
$dark-2: #232629;
$dark-3: #31363b;
$dark-4: #444851;
$dark-6: #616877;


/* Sass variable overrides */
$navbar-breakpoint: 0;
$body-background-color: $dark-3;

$table-color: $white-d;
$table-background-color: $dark-3;
$table-cell-padding: 0.5em 0.3em;

$menu-item-hover-background-color: $dark-4;
$menu-item-radius: 0px;

$input-radius: 0px;
$input-icon-active-color: $white-d;
$input-icon-color: $white-d;

@import "../node_modules/bulma/bulma.sass";


/* Global font setup */
@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    src: url('../webfonts/ShareTech-Regular.ttf') format('truetype');
}
body {
    // -ms-overflow-style: scrollbar;
    // -webkit-app-region: drag;
    font-family: 'Share Tech', 'sans-serif';
    font-size: 18px;
}


/* Color helpers */
.is-dark-2 {
    color: $dark-2;
}
.is-dark-3 {
    color: $dark-3;
}
.is-cyan {
    color: $cyan;
}
.is-white-d {
    color: $white-d !important;
}
.has-background-dark-2 {
    background-color: $dark-2;
}
.has-background-dark-3 {
    background-color: $dark-3;
}


/* Color override for paragraphs, spans and labels */
// p { color: $white-d !important; }
// span { color: $white-d !important; }
label { color: $white-d !important; }


/* Global scrollbar definition */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #777; 
}




/* Draggable element definition */
.frame-title-bar {
    -webkit-app-region: drag !important;
}
#left_menu_panel {
    -webkit-app-region: drag !important;
}
button, a, input {
    -webkit-app-region: no-drag !important;
}


/* Window minimize and maximize buttons */
a.minimize-button { 
    padding-left: 5px;
    padding-right: 5px;
}
a.minimize-button:hover {
    background-color: $dark-6;
    // color: #363636; 
}
a.exit-button {
    padding-left: 5px;
    padding-right: 5px;
}
a.exit-button:hover {
    background-color: $danger;
    // color: #363636;
}


/* Selected menu box */
.menu-item {
    border: 2px solid $dark-2;
}
.menu-item a{
    padding: 0.3em 0em;
}
.menu-item:hover {
    border: 2px solid $dark-4;
}
.menu-item.is-selected {
    border: 2px solid $cyan;
}

/* Left menu div directly under the left td that encloses the entire menu bar, and makes it scrollable */
div.left-menu {
    height: 640px;
    overflow: auto;
}
div.left-menu::-webkit-scrollbar { /*makes scrollbar invisible */
    width: 0px;
}

/* Borderless table helper css */
.table.is-borderless td, th {
    border: 0
}


/* Horizontal and vertical paddingless */
.is-hpaddingless {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.is-vpaddingless {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.silver-bordered {
    border: 2px solid $white-d !important;
}

/* Image sequences scrollable grid-like table in Create panel */
.sequence-grid tbody {
    height:320px;
    // border: 2px solid rebeccapurple !important;
    border-collapse: collapse;
    overflow: auto;
    display: block;
}
.sequence-grid tr{
    display: block;
    // border: 2px solid rebeccapurple !important;
    // border-collapse: collapse;
}
.sequence-grid td {
    border: 2px solid $white-d !important;
    border-collapse: collapse;
    padding: 3px !important;
    width: 98px;
    height: 98px;
}
.seqdiv {
    position: relative;
}
.seqdiv img {
    max-width: 90px;
    max-height: 90px;
}
.del-anchor {
    position: absolute;
    top: 0;
    right: 0;
}
.del-icon {
    opacity: 0.3;
    color: $danger;
}
.del-icon:hover {
    opacity: 1.0;
}


/* Animated image (GIF/PNG) preview container in Create Panel */
.crt-aimg-container {
    max-width: 310px;
    max-height: 310px;
    overflow: auto;
    text-align: center;
    display: inline-block;
}
.prev-spritesheet-container {
    // width: 300px;
    height: 300px;
    overflow: auto;
    text-align: center;
    display: inline-block;
}


.con-in-aimg-container {
    width: 310px;
    height: 310px;
    overflow: auto;
    text-align: center;
    display: inline-block;
}

.con-in-aimg-info-table td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}


table.crt-control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.crt-control-table label{
    margin: 0px !important;
}

table.control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.control-table label{
    margin: 0px !important;
}


table.spr-control-table td{
    padding: 5px;
    border: 1px solid black;
}

table.spr-control-table label{
    margin: 0px !important;
}


/* Animated image (GIF/PNG) previewing elements in Split panel */
.aimg-container {
    height: 370px;
    width: 370px;
    overflow: auto;
    text-align: center;
    display: inline-block;
}
.aimg-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.force-center {
    text-align: center !important; 
    vertical-align: middle !important;
}


.spl-aimg-info-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}


.spritesheet-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Neon-cyan buttons. $cyan outlines with $dark-3 BG to match the global $dark-3 BG color */
.button.is-neon-cyan{
    background-color: $dark-3;
    color: $cyan;
    border: 2px solid $cyan;
}
.button.is-neon-cyan:hover, .button.is-neon-cyan.is-hovered{
    border-color: lighten($cyan, 20%);
}
.button.is-neon-cyan:active, .button.is-neon-cyan.is-active {
    background-color: $cyan;
    border-color: $cyan;
    color: $dark-3;
}

/* Neon-white buttons. */
.button.is-neon-white{
    background-color: $dark-3;
    color: $white-d;
    border: 2px solid $white-d;
}
.button.is-neon-white:hover, .button.is-neon-white.is-hovered{
    border-color: lighten($white-d, 20%);
}
.button.is-neon-white:active, .button.is-neon-white.is-active {
    background-color: $white-d;
    border-color: $white-d;
    color: $dark-3;
}




/* Neon-white inputs. */
.input.is-neon-white{
    background-color: $dark-3;
    color: $white-d;
    box-shadow: none;
    border: 2px solid $white-d;
}
.input.is-neon-white:hover{
    border-color: lighten($white-d, 10%);
}
.input.is-neon-white:focus{
    border: 2px solid $white;
}
.input.is-neon-white:disabled{
    border-color: darken($white-d, 40%);
    color: darken($white-d, 40%);
}
.input.is-neon-white::placeholder{
    color: $dark-6;
}

.select.is-neon-cyan select {
    color: $white-d;
    background-color: $dark-3;
    border: 2px solid $white-d !important;
}

.select-is-neon-cyan select:hover {
    border-color: lighten($white-d, 10%);
}

// For selection arrow recolor
.select.is-neon-cyan:not(.is-multiple):not(.is-loading)::after {
    border-color: $cyan;
}

// .create-msgbox {
//     // height: 50px; 
//     // line-height: 1px;
// }

div.about-content h1 { color: $white-d; }
div.about-content p { color: $white-d; }

