[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altgraph = "==0.16.1"
apng = "==0.3.3"
cffi = "==1.13.2"
future = "==0.18.2"
gevent = "==1.4.0"
greenlet = "==0.4.15"
msgpack = "==0.6.2"
pefile = "==2019.4.18"
pycparser = "==2.19"
pyinstaller = "==3.6"
pywin32-ctypes = "==0.2.0"
pyzmq = "==18.1.1"
zerorpc = "==0.6.3"
Pillow = "==6.2.1"
pylint = "*"

[requires]
python_version = "3.7"
