[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
apng = "*"
pillow = "~=9.0.1"
psutil = "*"

[dev-packages]
pywin32 = {version = "*", sys_platform = "== 'win32'"}
black = "*"
pylint = "*"
pyinstaller = "*"
pytest = "*"
pytest-html = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
