apng==0.3.3
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
Cython==0.29.7
docutils==0.14
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
msgpack-python==0.5.6
Pillow==6.0.0
pycparser==2.19
Pygments==2.3.1
pypiwin32==223 ; sys_platform == 'win32'
pywin32==224 ; sys_platform == 'win32'
pyzmq==18.0.1
requests==2.21.0
urllib3==1.24.1
zerorpc==0.6.1
