/* Split Panel */
@import "../components/globalvars.scss";
@import "../components/_colors.scss";

.split-panel-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    .split-panel-display {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        height: 55vh;
        .split-panel-image {
            display: flex;
            flex-grow: inherit;
            width: 45%;
            height: 55vh;
            overflow: auto;
            img {
                max-width: 100%;
                box-sizing: border-box;
                max-height: 100%;
                object-fit: scale-down;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .split-panel-info {
            display: flex;
            flex-grow: inherit;
            width: 55%;
            height: 55vh;
            .spl-info-table { 
                table {
                    table-layout: fixed !important;
                }
                tr, td {
                    border-bottom: 1px solid $dark-9 !important;
                    border-right: 1px solid $dark-9!important;
                }
                td {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    font-size: 16px;
                    word-wrap: break-word !important;
                    &.spl-info-label { width: 123px; }
                    // user-select: text !important;
                }
                table, tr, td {
                    border-collapse: collapse !important;
                }
            }
        }
    }
    .split-panel-middlebar {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        height: 57px;
        .spl-control-btn {
            display: flex;
            margin-right: 10px;
        }
    }
    .split-panel-controls {
        height: calc(100vh - 55vh - 57px - #{$root-height-offset});
        border: 2px solid $white-d;
        table {
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0 !important;
            margin: 0 !important;
            th {
                border: 0 !important;
            }
            td {
                border: 0 !important;
                padding: 1vh !important;
                border: 1px solid black;
            }
            label {
                margin: 0px !important;
            }
        }
    }
}