/* Settings Panel */
@import "../components/_globalvars.scss";
@import "../components/_colors.scss";
@import "../../../node_modules/bulma/sass/components/tabs.sass";

$settings-col-gap: 20px;
$settings-row-count: 3;
$settings-group-width: calc(100% / #{$settings-row-count} - (#{$settings-col-gap} * (#{$settings-row-count} - 1)));

.settings-panel-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    .settings-tab {
        height: 70px;
        div.tabs {
            & a {
                // margin-top: #{$tabs-border-bottom-width};
                font-size: 20px;
                //         border-left: 2px solid transparent;
                //         border-right: 2px solid transparent;
                //         border-bottom: 2px solid transparent;
            }
            // & li.is-active a {
            //     border-top: 2px solid $cyan;
            //     border-left: 2px solid $cyan;
            //     border-right: 2px solid $cyan;
            //     // border-bottom: 2px solid $cyan;
            // }
        }
    }
    .settings-subpanels {
        height: calc(100vh - 70px - #{$root-height-offset});
        // padding: 10px;
    }
    hr {
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: $white-d;
        height: 1px;
        width: 100% !important;
    }
    .settings-subpanel-general {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: $settings-col-gap;
        .settings-group {
            flex: 0 0 $settings-group-width;
            &.is-2 {
                flex: 0 0 calc(2 * #{$settings-group-width});
            }
        }
    }
}

.settings-header {
    color: $white-d !important;
    margin-bottom: 0% !important;
}
