/* Color definitions */
$cyan: #34caf8;
$cyan-bright: #98e7ff;
$emerald: #44d444;
$crimson: #ff5555;
$white-d: #cccccc;
$dark-2: #232629;
$dark-3: #31363b;
$dark-4: #444851;
$dark-4b: #4b5158;
$dark-5: #565e69;
$dark-6: #616877;
$dark-9: #9ea2a7;
$white-a: #aaaaaa;

.is-white-d {
    color: $white-d;
}
.is-crimson {
    color: $crimson;
}
