/* Color definitions */
$cyan: #34caf8;
$cyan-bright: #98e7ff;
$emerald: #33cc33;
$crimson: #e03d3d;
$white-d: #cccccc;
$dark-2: #232629;
$dark-3: #31363b;
$dark-4: #444851;
$dark-5: #565b69;
$dark-6: #616877;
$dark-9: #93a0ad;
$white-a: #aaaaaa;
