/* Create Panel */
@import "_colors.scss";
.create-panel-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    .create-panel-display {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        height: 44vh;
        .create-panel-sequence {
            flex-grow: inherit;
            width: 60%;
            height: 44vh;
            overflow: auto;
        }        
        .create-panel-preview {
            display: flex;
            flex-grow: inherit;
            width: 40%;
            height: 44vh;
            img {
                max-width: 100%;
                box-sizing: border-box;
                max-height: 100%;
                object-fit: scale-down;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .create-panel-middlebar {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        height: calc(11vh - 20px);
        .cpb-sequence-buttons {
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .cpb-sequence-btn {
                display: flex;
                margin-right: 10px;
            }
        }
        .cpb-preview-buttons {
            width: 40%;
            text-align: center;
        }
    }
    .create-panel-controls {
        display: flex;
        flex-basis: 45vh;
        flex-direction: row;
        .cpc-left-panel {
            border: 2px solid $white-d;
            min-width: 7%;
            overflow: auto;
            &::-webkit-scrollbar { width: 0px; height: 0px; }
        }
        .cpc-right-panel {
            border: 2px solid $white-d;
            border-left: 0;
            min-width: 93%;
        }
        table {
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0 !important;
            margin: 0 !important;
            th {
                border: 0 !important;
            }
            td {
                border: 0 !important;
                padding: 1vh !important;
                border: 1px solid black;
            }
            label {
                margin: 0px !important;
            }
        }
    }
}   


// .crt-aimg-container {
//     // width: 310px;
//     // height: 310px;
//     overflow: hidden;
//     // text-align: center;
//     display: block;
//     img {
//         // max-width: 310px !important;
//         // max-height: 310px !important;
//         display: block;
//         position: relative;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//         // display: inline-block;
//     }
// }
