.no-select-drag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}

.no-drag {
    user-drag: none; 
    -webkit-user-drag: none;
}
