/* Responsive table */
@import "../components/_colors.scss";

.select.is-neon-cyan { 
    select {
        color: $white-d;
        background-color: $dark-3;
        border: 2px solid $white-d !important;
    }
    select:disabled {
        border: 2px solid darken($white-d, 40%) !important;
        color: darken($white-d, 40%) !important;
    }
    &:hover select {
        border: 2px solid lighten($cyan, 10%) !important;
    }
    option:hover {
        box-shadow: 0 0 10px 100px $cyan-bright inset !important;
    }
    // For selection arrow recolor
    &:not(.is-multiple):not(.is-loading)::after {
        border-color: $cyan;
    }
    &.non-interactive select {
        border: 2px solid darken($white-d, 40%) !important;
        color: darken($white-d, 40%) !important;
    }
}
