@import "_colors.scss";

.context-menu {
    width: 180px;
    box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    z-index: 999;

    // Override Chromium User Agent stylesheet
    &:focus {
        outline: 0;
    }

    .context-menu-options {
        display: block;
        position: relative;
        padding: 1px 1px;
        background: rgba($color: black, $alpha: 1);
        border-radius: 0px;
        color: $white-d;
        text-decoration: none;
        font-size: 13px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 0px;

        // Override Chromium User Agent stylesheet
        &:focus {
            outline: 0;
        }

        .context-menu-option {
            font-weight: 500;
            font-size: 16px;
            padding: 5px 5px 5px 5px;
            cursor: pointer;
            border: 2px solid transparent;
            z-index: 999;
            
            // Override Chromium User Agent stylesheet
            &:focus {
                outline: 0;
            }

            $base-color: $cyan;

            &:hover {
                border-color: $cyan;
                color: $cyan;
            }

            &:active {
                border-color: lighten($color: $cyan, $amount: 10);
                color: lighten($color: $cyan, $amount: 10);
            }

            &.is-neon-crimson {
                &:hover {
                    border-color: $crimson;
                    color: $crimson;
                }
                &:active {
                    border-color: lighten($color: $crimson, $amount: 10);
                    color: lighten($color: $crimson, $amount: 10);
                }
            }

            &.is-neon-emerald {
                &:hover {
                    border-color: $emerald;
                    color: $emerald;
                }
                &:active {
                    border-color: lighten($color: $emerald, $amount: 10);
                    color: lighten($color: $emerald, $amount: 10);
                }
            }

            &.is-neon-cobalt {
                &:hover {
                    border-color: $blue;
                    color: $blue;
                }
                &:active {
                    border-color: lighten($color: $blue, $amount: 10);
                    color: lighten($color: $blue, $amount: 10);
                }
            }

            .ctxmenu-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                .ctxmenu-icon {
                    display: flex;
                    vertical-align: middle;
                    margin-right: 7px;
                }

                .ctxmenu-text {
                    display: flex;
                    vertical-align: middle;
                }
            }
        }
    }
}
