.field {
  &.is-horizontal-midlined {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    flex-direction: row;
    &.selection {
      .label {
        flex: 0 0 40%
      }
      .controls-container {
        flex: 0 0 60%;
      }
    }
    &.textbox {
      .label {
        flex: 0 0 20%
      }
      .controls-container {
        flex: 0 0 80%;
        display: flex;
        flex-direction: row;
      }
    }
  }
  .control.main {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
