$general-fields-col-gap: 5px;

.top-pad-5 {
    padding-top: 5px;
}


.general-form {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $general-fields-col-gap;
    row-gap: 5px;
    .separator {
        flex: 1 0 100%;
        display: flex;
        flex-direction: row;
        .separator-item {
            flex: 1;
        }
        .separator-space {
            flex: 1;
            padding: 5px;
        }
    }
    &.row-5 {
        .field-cell {
            flex: 0 0 calc(20% - (#{$general-fields-col-gap} * 4 / 5));
            &.center-h {
                justify-content: center;
            }
            &.center-v {
                align-items: center;
            }
            &.span-2 {
                flex: 0 0 calc(20% * 2 - (#{$general-fields-col-gap} * (4 - 1) / 5));
            }
            &.span-3 {
                flex: 0 0 calc(20% * 3 - (#{$general-fields-col-gap} * (4 - 2) / 5));
            }
            &.span-4 {
                flex: 0 0 calc(20% * 4 - (#{$general-fields-col-gap} * (4 - 3) / 5));
            }
            &.span-5 {
                flex: 0 0 calc(20% * 5 - (#{$general-fields-col-gap} * (4 - 4) / 5));
            }
        }
    }
    &.row-6 {
        .field-cell {
            flex: 0 0 calc(16.66% - (#{$general-fields-col-gap} * 5 / 6));
            &.span-2 {
                flex: 0 0 calc(16.66% * 2 - (#{$general-fields-col-gap} * (5 - 1) / 6));
            }
            &.span-3 {
                flex: 0 0 calc(16.66% * 3 - (#{$general-fields-col-gap} * (5 - 2) / 6));
            }
            &.span-4 {
                flex: 0 0 calc(16.66% * 4 - (#{$general-fields-col-gap} * (5 - 3) / 6));
            }
            &.span-5 {
                flex: 0 0 calc(16.66% * 5 - (#{$general-fields-col-gap} * (5 - 4) / 6));
            }
            &.span-6 {
                flex: 0 0 calc(16.66% * 6 - (#{$general-fields-col-gap} * (5 - 5) / 6));
            }
        }
    }
    label {
        margin: 0px !important;
        padding: 0 !important;
    }
    .field-cell.full-width {
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
    }
}

.preset-selector-bar {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    .preset-controls-left {
        flex: 0 1 30%;
    }
    .preset-selection {
        flex: 1 0 auto;
    }
    .preset-controls-right {
        flex: 0 1 10%;
    }
}