$general-fields-col-gap: 5px;
$optim-fields-col-gap: 15px;

.top-pad-5 {
    padding-top: 5px;
}

.optimization-form {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $optim-fields-col-gap;
    row-gap: 5px;
    label {
        margin: 0px !important;
        padding: 0 !important;
    }
    &.row-3 {
        .field-cell-group {
            align-items: center;
            flex: 0 0 calc(100% / 3 * 1 - (#{$optim-fields-col-gap} * (2 - 0) / 3));
            &.span-2 {
                flex: 0 0 calc(100% / 3 * 2 - (#{$optim-fields-col-gap} * (2 - 1) / 3));
            }
            &.span-3 {
                flex: 0 0 calc(100% / 3 * 3 - (#{$optim-fields-col-gap} * (2 - 2) / 3));
            }
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2px;
            .toggle-cell {
                flex: 0 0 calc(50% - 1px);
            }
            .field-cell {
                flex: 0 0 calc(50% - 1px);
                &.full-width {
                    flex: 1 0 100%;
                }
                &.half {
                    flex: 0 0 25%;
                }
            }
        }
    }
}

.general-form {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $general-fields-col-gap;
    row-gap: 5px;
    label {
        margin: 0px !important;
        padding: 0 !important;
    }
    .separator {
        flex: 1 0 100%;
        display: flex;
        flex-direction: row;
        .separator-item {
            flex: 1;
        }
        .separator-space {
            flex: 1;
            padding: 5px;
        }
    }
    &.row-5 {
        .field-cell {
            flex: 0 0 calc(20% - (#{$general-fields-col-gap} * 4 / 5));
            &.center-h {
                justify-content: center;
            }
            &.center-v {
                align-items: center;
            }
            &.span-2 {
                flex: 0 0 calc(20% * 2 - (#{$general-fields-col-gap} * (4 - 1) / 5));
            }
            &.span-3 {
                flex: 0 0 calc(20% * 3 - (#{$general-fields-col-gap} * (4 - 2) / 5));
            }
            &.span-4 {
                flex: 0 0 calc(20% * 4 - (#{$general-fields-col-gap} * (4 - 3) / 5));
            }
            &.span-5 {
                flex: 0 0 calc(20% * 5 - (#{$general-fields-col-gap} * (4 - 4) / 5));
            }
        }
    }
    &.row-6 {
        .field-cell {
            flex: 0 0 calc(16.66% - (#{$general-fields-col-gap} * 5 / 6));
            &.span-2 {
                flex: 0 0 calc(16.66% * 2 - (#{$general-fields-col-gap} * (5 - 1) / 6));
            }
            &.span-3 {
                flex: 0 0 calc(16.66% * 3 - (#{$general-fields-col-gap} * (5 - 2) / 6));
            }
            &.span-4 {
                flex: 0 0 calc(16.66% * 4 - (#{$general-fields-col-gap} * (5 - 3) / 6));
            }
            &.span-5 {
                flex: 0 0 calc(16.66% * 5 - (#{$general-fields-col-gap} * (5 - 4) / 6));
            }
            &.span-6 {
                flex: 0 0 calc(16.66% * 6 - (#{$general-fields-col-gap} * (5 - 5) / 6));
            }
        }
    }
    &.row-7 {
        .field-cell {
            flex: 0 0 calc(100% / 7 * 1 - (#{$general-fields-col-gap} * (6 - 0) / 7));
            &.span-2 {
                flex: 0 0 calc(100% / 7 * 2 - (#{$general-fields-col-gap} * (6 - 1) / 7));
            }
            &.span-3 {
                flex: 0 0 calc(100% / 7 * 3 - (#{$general-fields-col-gap} * (6 - 2) / 7));
            }
            &.span-4 {
                flex: 0 0 calc(100% / 7 * 4 - (#{$general-fields-col-gap} * (6 - 3) / 7));
            }
            &.span-5 {
                flex: 0 0 calc(100% / 7 * 5 - (#{$general-fields-col-gap} * (6 - 4) / 7));
            }
            &.span-6 {
                flex: 0 0 calc(100% / 7 * 6 - (#{$general-fields-col-gap} * (6 - 5) / 7));
            }
            &.span-7 {
                flex: 0 0 calc(100% / 7 * 7 - (#{$general-fields-col-gap} * (6 - 6) / 7));
            }
        }
    }
    .field-cell.full-width {
        flex: 1 0 100%;
        display: flex;
        flex-direction: row;
    }
}

.preset-selector-bar {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .preset-controls-left {
        flex: 0 1 10%;
    }
    .preset-selection {
        flex: 1 1 auto;
    }
    .preset-controls-right {
        flex: 0 1 40%;
    }
}